<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add new income</h5>
          <app-add-income></app-add-income>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total balance: {{incomeSum - expenseSum}}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add new expense</h5>
          <app-add-expense></app-add-expense>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add new income</h5>
          <app-add-income></app-add-income>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="card border-success">
        <div class="card-body">
          <h5 class="card-title">Incomes</h5>
          <app-list-incomes (incomeSumChanged)="incomeChangedHandler($event)"></app-list-incomes>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="card border-danger">
        <div class="card-body">
          <h5 class="card-title">Expenses</h5>
          <app-list-expenses (expenseSumChanged)="expenseChangedHandler($event)"></app-list-expenses>
        </div>
      </div>
    </div>
  </div>
</div>