<br>
<br>
<div class="container">
  <form novalidate [formGroup]="editExpenseForm" (ngSubmit)="updateExpense()">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Description: </label>
          <div class="col-sm-10">
            <input id="description" type="text" class="form-control" formControlName="description">
            <small *ngIf="!editExpenseForm.controls.description.valid && editExpenseForm.controls.description.touched">
              Description is required (minimum 5 characters).
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="amount" class="col-sm-2 col-form-label">Amount: </label>
          <div class="col-sm-10">
            <input id="amount" type="number" class="form-control" formControlName="amount">
            <small *ngIf="!editExpenseForm.controls.amount.valid">
              Amount is required.
            </small>
          </div>
        </div>
        <button [disabled]="!editExpenseForm.controls.description.valid || !editExpenseForm.controls.amount.valid" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <!-- <pre>{{editExpenseForm.value | json}}</pre> -->
  </form>
  <!-- <div *ngIf="showError" class="alert alert-danger" role="alert">
    Something went wrong!
  </div>
  <div *ngIf="showSuccess" class="alert alert-success" role="alert">
    Post successfully updated!
  </div> -->
</div>