<form novalidate [formGroup]="addIncomeForm" (ngSubmit)="addIncome()">
    <div class="form-group row">
        <label for="description" class="col-sm-4 col-md-12 col-form-label">Description: </label>
        <div class="col-sm-8 col-md-12">
            <input type="text" class="form-control" formControlName="description">
            <small *ngIf="!addIncomeForm.controls.description.valid && addIncomeForm.controls.description.touched">
                Description is required (minimum 5 characters).
            </small>
        </div>


    </div>
    <div class="form-group row">
        <label for="amount" class="col-sm-4 col-md-12 col-form-label">Amount: </label>
        <div class="col-sm-8 col-md-12">
            <input type="number" class="form-control" formControlName="amount">
            <small *ngIf="!addIncomeForm.controls.amount.valid">
                Amount is required.
            </small>
        </div>
    </div>
    <button [disabled]="!addIncomeForm.controls.description.valid || !addIncomeForm.controls.amount.valid" class="btn btn-primary float-right">Add</button>
    <!-- <pre>{{addIncomeForm.value | json}}</pre> -->
</form>