<form novalidate [formGroup]="addExpenseForm" (ngSubmit)="addExpense()">
    <div class="form-group row">
        <label for="description" class="col-sm-4 col-md-12 col-form-label">Description: </label>
        <div class="col-sm-8 col-md-12">
            <input id="description" type="text" class="form-control" formControlName="description">
            <small *ngIf="!addExpenseForm.controls.description.valid && addExpenseForm.controls.description.touched">
                Description is required (minimum 5 characters).
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label for="amount" class="col-sm-4 col-md-12 col-form-label">Amount: </label>
        <div class="col-sm-8 col-md-12">
            <input id="amount" type="number" class="form-control" formControlName="amount">
            <small *ngIf="!addExpenseForm.controls.amount.valid">
                Amount is required.
            </small>
        </div>
    </div>
    <button [disabled]="!addExpenseForm.controls.description.valid || !addExpenseForm.controls.amount.valid" class="btn btn-primary float-right">Add</button>
    <!-- <pre>{{addExpenseForm.value | json}}</pre> -->
</form>