<table class="table table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Created</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses; let i=index">
      <td>{{i+1}}</td>
      <td>{{expense.description}}</td>
      <td>{{expense.amount}}</td>
      <td>{{expense.created | date: 'dd-MM-yyyy'}}</td>
      <td class="float-right">
        <button class="btn btn-danger btn-sm " (click)="openModal(template)">Delete</button>
      </td>
      <td class="float-right">
        <button class="btn btn-primary btn-sm " [routerLink]="['/editexpense/', expense._id]">Edit</button>
      </td>
      <br>
      <ng-template #template>
        <div class="modal-body text-center">
          <p>Are you sure?</p>
          <button type="button" class="btn btn-default" (click)="deleteExpense(expense._id)">Yes</button>
          <button type="button" class="btn btn-primary" (click)="decline()">No</button>
        </div>
      </ng-template>

    </tr>
  </tbody>
</table>
