<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Info</th>
      <th scope="col">Amount</th>
      <th scope="col">Created</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let income of incomes; let i=index">
      <td>{{i+1}}</td>
      <td>{{income.description}}</td>
      <td>{{income.amount}}</td>
      <td>{{income.created | date: 'dd-MM-yyyy'}}</td>
      <td class="float-right">
        <button class="btn btn-danger btn-sm" (click)="openModal(template)">Delete</button>
      </td>
      <td class="float-right">
        <button class="btn btn-primary btn-sm" [routerLink]="['/editincome/', income._id]">Edit</button>
      </td>
      <br>
      <ng-template #template>
        <div class="modal-body text-center">
          <p>Are you sure?</p>
          <button type="button" class="btn btn-default" (click)="deleteIncome(income._id)">Yes</button>
          <button type="button" class="btn btn-primary" (click)="decline()">No</button>
        </div>
      </ng-template>

    </tr>
  </tbody>
</table>

<!-- 
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        {{message}}
    </div>
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        Post successfully deleted!
    </div> -->