<br>
<br>
<div class="container">
    <form novalidate [formGroup]="myForm" (ngSubmit)="addPost()">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label">Title: </label>
                    <div class="col-sm-10">
                        <input id="title" type="text" class="form-control" formControlName="title">
                        <small [hidden]="myForm.controls.title.valid">
                            Title is required (minimum 5 characters).
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="body" class="col-sm-2 col-form-label">Body: </label>
                    <div class="col-sm-10">
                        <textarea id="body" type="text" class="form-control" formControlName="body" rows="3"></textarea>
                        <small [hidden]="myForm.controls.body.valid">
                            Body is required (minimum 5 characters).
                        </small>
                    </div>
                </div>
                <button [disabled]="!myForm.controls.title.valid || !myForm.controls.body.valid" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <pre>{{myForm.value | json}}</pre>
    </form>
</div>
